body {
  background-color: coral;
  margin: 0;
}
.hole {
  background: url("/hole.png") no-repeat center/contain;
}

.mole {
  background-image: url("/mole.png");
}

.counter {
  border: 2px solid black;
}
